{% extends 'base.html' %}
{% block content %}

<h1>Player Details</h1>

<div class="card">
  <div class="col s6">
    <div class="card-content">
      <span class="card-title">{{ player.name }}</span>
      <p>Team: {{ player.team }}</p>
      <p>Age: {{ player.age }}</p>
      {% if player.seasons > 0 %}
        <p>Seasons: {{ player.seasons }}</p>
      {% else %}
        <p>Seasons: Rookie</p>
      {% endif %}
      {% if player.career_average_ppg > 0 %}
        <p>Career Average PPG: {{ player.career_average_ppg }}</p>
      {% else %}
        <p>Career Average PPG: No completed seasons yet</p>
      {% endif %}
    </div>
    <div class="card-action">
      <a href="{% url 'players_update' player.id %}">Edit</a>
      <a href="{% url 'players_delete' player.id %}">Delete</a>
    </div>
  </div>
</div>
<div class="col s6">
  <h6>Past Games (2022-23 Season):</h6>
  <form action="{% url 'add_past_game' player.id %}" method="POST">
    {% csrf_token %}
    {{ past_game_form.as_p }}
    <input type="submit" class="btn" value="Add Game">
  </form>
  <table class="striped">
    <thead>
      <tr><th>Date</th><th>Opponent</th><th>Points</th></tr>
    </thead>
    <tbody>
      {% for pastgame in player.pastgame_set.all %}
        <tr>
          <td>{{pastgame.date}}</td>
          <td>{{pastgame.get_opponent_display}}</td>
          <td>{{pastgame.points_scored}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_opponent');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}